* {
    padding: auto;
    margin: auto;
}

body {
    background-color: #778899;
    padding: 0;
    margin: 0;
    align-items: center;
}

.principal {
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 970px;
    padding: 15px;
    margin-top: 10px;    
}

.principal p {
    text-align: justify;
}